.page section {
	margin: auto 120px;
}

.fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
}

	.fragment section[role=main] {
		-ms-grid-row: 2;
		height: 100%;
	}

.win-hub-section.hero .win-hub-section-header {
    visibility: hidden;
}

.picturesListView {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    width: 500px;
    height: 100%;
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
}

.bindingTemplate .pictureContainer {
    height: 350px;
    margin: 20px 0;
    width: 480px;
}

    .bindingTemplate .pictureContainer img {
        max-height: 100%;
        max-width: 100%;
    }

    .bindingTemplate .pictureContainer .pictureLabel {
        height: 30px;
        margin-bottom: 20px;
        width: 450px;
    }